.battle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;

  header {
    font-size: 3rem;
  }

  & > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    max-width: 80rem;
    margin: 4rem 0;

    & > div {
      margin: auto;
    }
  }
}